Flask
Flask-SQLAlchemy
Flask-Migrate
requests
python-dotenv
Werkzeug
SQLAlchemy
WTForms
Flask-WTF
Flask-Login
psycopg2-binary
Pillow
python-dateutil
pytz
gunicorn
flask-socketio
simple-websocket
eventlet
